.content {
  display: flex;
  align-items: center;
  height: 90px;
  text-align: center;
  border-radius: 7px;
  .icon{
    font-size: 28px;
  }
  margin-bottom: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  background-color: #fff;
  border-radius: 0 6px 6px 0px;
}
